html {
	height: 100%;
	user-select: none;
}

.playing .shooting {
	color: green;
}

.playing.shooting.pause {
	background: red;
	color: yellow;
}

.shooting {
	font-weight: bold;
}

.playing.shooting:after {
	content: ' (Now)';
}

.playing.shooting.pause:after {
	content: ' (PAUSE)';
}

td:not(.shooting):not(.playing):after {
	content: ' (Next)';
}

td.shooting:after {
	content: ' (Prev)';
}

.playing {
	background: #4fe2a7;
}

.player-table, .player-name-col {
	margin: 30px auto;
	table-layout: fixed;
	border: medium solid black;
}
.player-name-col {
	width: 50%;
	text-align: center;
	padding: 10px;
	font-size: larger;
}
#main-site {
	min-height: 100vh;
	width: auto;
	padding: 0 15px;
	background: #f0f0f0;
}

#main-page {
	padding-top: 1%;
	background: #e0e0e0;
}

.control-panel {

}

.cool {
	background: #0bc902;
}

.warn {
	background: #e2a20d;
}

.over {
	background: #dd0000;
}
.instruction {
	font-size: xx-small;
}

.dl-horizontal dt 
{
    white-space: normal;
    width: 90px; 
}
.dl-horizontal dd
{
    margin-left: 100px; 
}